.navbar {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.navbar {
    background-color: #414141;
}

.navbar-toggler {
    border: solid 1px #414141 !important;
}

.logo {
    width: 140px;
}